.input{
    text-align: center;
    margin-left: 50%;
    padding: 10px;
    border-radius: 5px;
    background-color: cornsilk;
    
}

.button{
    text-align: center;
    margin-left: 10%;
    padding: 10px;
    border-radius: 5px;
    background-color:rgb(137, 137, 175);
    
    

}